.wrapper {
  margin: 0 auto;
  width: 60%;
  max-width: 500px;
}

// variables

//colors
$white: #FFF;
$green: #7AB55C;
$grey: #7B7B7B;
$purple-light: #5c6ac4;
$purple-dark: #000639;
$red: #C23628;

//media breakpoint
$mobile: 738px;
