html {
  font-size: 62.5%;
}

body {
  font-family: 'helvetica', sans-serif;
  font-size: 1.6rem;
  background: $purple-dark;
  color: $white;
  padding: 100px 0;
}

h1 {
  font-size: 2.4rem;
}

.hzrule {
  padding-bottom: 15px;
  border-bottom: 2px solid $green;
}

.input-field {
  padding: 25px 0;
  /* display: none; */
}

input[type=email], input[type=submit], select{
  border-radius: 5px;
  padding: 15px;
  height: 50px;
}

input[type=email] {
  width: 59%;
}

select {
  width: 40%;

}

input[type=submit]{
  width: 100%;
  margin: 15px 0;
  font-weight: bold;
  background: $purple-light;
  color: white;
  border: 0;
}

.invalid {
  color: $red;
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.confirmation {
  display: none;
  padding-top: 25px;
  p:first-of-type {
    font-weight: bold;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 738px) {
  body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  h1 {
    font-size: 2.8rem;
  }

  .hzrule {
    border-bottom: none;
  }

  input[type=email], select, input[type=submit] {
    text-align: center;
    padding: 30px;
  }

  input[type=email] {
    width: 100%;
    margin: 30px 0;
  }
  select{
    width: 100%;
    margin-bottom: 30px;
    text-align-last: center;
  }

  input[type=submit]{
    font-size: 2.2rem;
  }



}
